section.products {
  > * {
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 0;
    font-weight: normal;
    color: #6F6F6F;
    font-size: 20px;
    letter-spacing: .25px;
  }

  .product-container {
    max-width: 608px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 3px;

    -webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
  }
}
