.basket-preview {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #147594;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: .16px;

  img {
    width: 13px;
    margin-right: 13px;
  }

  .price-box {
    color: #FFFFFF;
  }
}
