.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  input[type="radio"] {
    transition: all .3s ease;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 0;
    margin-right: 10px;
    border-radius: 50%;
    appearance: none;
    outline: 0;
    cursor: pointer;
    border: 2px solid #DFDEE2;
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      left: 6px;
      width: 4px;
      height: 10px;
      border-style: solid;
      border-color: #1EA4CE;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      background: #FFFFFF;
      border-color: #1ea4ce;
      &::before {
        opacity: 1;
      }
      ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  label {
    cursor: pointer;
    font-size: 14px;
    color: #525252;
    letter-spacing: .16px;
    width: 80%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
