.sorting {
  width: 296px;

  .sorting-name {
    font-weight: bold;
    font-size: 13px;
    color: #697488;
    margin-bottom: 10px;
  }

  .sorting-items {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 5px;

    .items-box {
      max-height: 244px;
      overflow-y: auto;
      padding-left: 5px;
      padding-top: 5px;

      .no-result {
        font-size: 14px;
        color: #697488;
        letter-spacing: .14px;
      }
    }
  }
}
